.container {
  padding: 10px;
}
.container .search {
  width: 100%;
  height: 30px;
  border: 1px solid #006699;
  position: relative;
  margin-bottom: 15px;
}
.container .search input[type='text'] {
  width: 100%;
  height: 30px;
  margin-right: 70px;
  color: #474747;
  font-size: 14px;
  background-color: transparent;
  border: none;
  margin: 0;
}
.container .search input[type='button'] {
  width: 60px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #006699;
  color: #fff;
  border-radius: 0;
  border: none;
}
.container .history-top {
  font-size: 14px;
  color: #8f8f94;
  padding-bottom: 15px;
}
.container .history-top .clear {
  line-height: normal;
}
.container .history-top .clear .mui-icon {
  font-size: 14px;
}
